body {
    background-image: url('Html_Pictures/Portfolio\ bg\ img.png');
    background-size: 100% auto; background-repeat: no-repeat;
    background-attachment: fixed; background-position: top center;
    background-color: black; color: white;
    margin: 0; height: 100vh; height:6500px; width: 100%;
  }

/* Entire fixed container */
    .fixed-container{
        position: fixed;
        background-color: rgba(211, 211, 211, 0.034);
        height: 600px; width: 300px;
    }
    .menu-toggle {
        font-size: 45px;
        cursor: pointer;
        display: none;
        position: relative;
        left: 530px; top: 134px;
    }
/* Image */
    .pic {
        height: 200px; width: 205px;
        margin-top: 30px;
        margin-left: 70px;
        overflow: hidden; border-radius: 10px;     
    }
/* Image styling */
    .image {
        height: 100%; width: 100%;
        object-fit: cover;          
        display: block;
    }
/* Open To Opportunities */
    .open-to-opportunities{
        display: inline-block;
        position: absolute;
        background-color: gray; color: rgb(222, 222, 2);
        font-family: monospace, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Tahoma, Geneva, Verdana, sans-serif, 'Arial Narrow', Arial, sans-serif;
        border-radius: 10px;
        font-size: 15px; text-align: center;
        height: 23px; width: 200px;
        padding: 5px;
        margin-top: 15px; margin-right: 1000px; margin-left: 70px;
    }
/* Nav bar(menus) */
    .nav-links a {
        text-decoration: none;
        display: block;  
        color: white;
        padding: 15px 20px ; 
        font-family: monospace, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Tahoma, Geneva, Verdana, sans-serif, 'Arial Narrow', Arial, sans-serif;
    }
    .nav-links{
        display: inline-block;
        padding-top: 70px; padding-left: 70px;
        position: relative;
        width: 200px; 
        font-size: 16px;
    }
    .nav-links div:hover{
        border-radius: 10px ; background-color: rgba(211, 211, 211, 0.150);
    }
    .nav-links a:hover{
        color:bisque; font-size: 22px;
    }
/* Animation */
    
/* 1) scale function - magic icon*/
    #magic-icon {
        position: absolute; z-index: -1;
        font-size: 40px;
        opacity: 0;
        transform: translateX(-50px) scale(0.5); /* start hidden & small */
        animation: magic-icon 4s ease-out infinite;
        }
        @keyframes magic-icon {
        0% {
            opacity: 0; transform: translateX(-50px) scale(0.5); 
        }
        50% {
            opacity: 1; transform: translateX(0px) scale(1); 
        }
        }

/* Nav bar media query */

@media (max-width: 600px) {
    body{
      background-color: black;
      width: 600px; height:5500px;
    }
    .fixed-container{
      position: relative;
      height: 300px;
    }
   /* Image */
    .pic {
        display: inline-block;
        height: 150px; width: 155px;
        margin-top: 30px; margin-left: 50px;
        overflow: hidden;               
    }
    .open-to-opportunities{
        display: inline-block;
        margin-top: 90px; margin-right: 10px; margin-left: 60px;
    }
    
    .menu-toggle {
        display: inline-block;
    }
    
    /* Nav bar(menus) */
    
    .nav-links a {
        display: block;  
        padding: 15px 12px ; 
        float: left;
    }
    .nav-links{
        display: inline-block;
        padding-top: 10px;
        left: -20px; right: 25px; top: 200px ;
        position: absolute;
        width: 580px; font-size: 16px;
    }
    .nav-links a:hover{
        color:bisque; font-size: 20px;
    }
    } 
/* End of nav bar and its media query */

/* 1) Home page Content */

    .welcome {
        color: white; font-size: 42px;
        padding-top: 100px; padding-left: 380px;
        font-family: monospace, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Tahoma, Geneva, Verdana, sans-serif, 'Arial Narrow', Arial, sans-serif;
    }

    .name {
        color: white; font-size: 40px;
        padding-left: 380px;
        font-family: monospace, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Tahoma, Geneva, Verdana, sans-serif, 'Arial Narrow', Arial, sans-serif;
    }
    .budding {
        color: white;  font-size: 32px;
        padding-left: 380px;
        font-family: monospace, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Tahoma, Geneva, Verdana, sans-serif, 'Arial Narrow', Arial, sans-serif;
    }
    .sentence1 {
        color: white;  font-size: 20px;
        padding-left: 380px;
        font-family: monospace, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Tahoma, Geneva, Verdana, sans-serif, 'Arial Narrow', Arial, sans-serif;
    }
    .sentence2{
        padding-left: 380px;
        font-family: monospace, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Tahoma, Geneva, Verdana, sans-serif, 'Arial Narrow', Arial, sans-serif;
        color: rgba(128, 128, 128, 0.999);
    }
/* Location */
    .location{
        padding-top: 80px; padding-left: 380px;
        color: rgb(7, 207, 7); font-size: 13px;

    }

    .location-hide{
        display: none;
        padding-top: 80px; padding-left: 380px;
        color: rgb(7, 207, 7); font-size: 13px;
    }
/* About me button */
    .a-btn {
        border-radius: 10px ;  border-radius: 16px;
        padding-top: 2px;
        text-align: center;
        font-weight: bold; font-size: 17px;
        font-family: monospace, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Tahoma, Geneva, Verdana, sans-serif, 'Arial Narrow', Arial, sans-serif;
        width: 170px; height: 45px;
        background-color: rgba(211, 211, 211, 0.358);
    }
    .a-btn:hover {
        color: white; font-size: 20px ;
        transition: all 0.3s ease-in-out;     
    }

/*1)  End of Home page Content */

/* 1) Home page content  media query */

@media (max-width: 600px) {
    .welcome {
        font-size: 35px;
        padding-top: 50px; padding-left: 90px;
        }
    .name {
        padding-left: 210px; font-size: 35px;
        }
    .budding {
        padding-left: 90px; padding-top: 20px;
        font-size: 25px;
        }
    .sentence1 {
        padding-left: 90px;
        font-size: 18px;
        }
    .sentence2{
        padding-right: 10px;
        padding-left: 90px;
        }
    .location{
        display: none;
        }
    .location-hide{
        display: inline;
        padding-left: 90px;  
        }
    .a-btn {
        border-radius: 16px ;
        padding-top: 2px;
        text-align: center;
        font-weight: bold; font-size: 12px;
        width: 170px; height: 30px;
        background-color: rgba(211, 211, 211, 0.358); color: white;
        }
    }
  /* End of home page and its media query */

  /* 2) About page Content */

   /* Animation */
/* 1) scale function - about icon*/
    .know-me{
        color: white;
        padding-top: 70px; padding-left: 380px;
        position: absolute; z-index: -1;
        font-family: monospace, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Tahoma, Geneva, Verdana, sans-serif, 'Arial Narrow', Arial, sans-serif;
        font-size: 42px;
        opacity: 0;
        transform: translateX(-50px); /* start hidden & small */
        animation: know-me 3s linear infinite;
    }
    @keyframes know-me {
        0% {
        transform: translateX(-50px); 
        }
        50% {
        opacity: 1; transform: translateX(0px); 
        }
    }
    .about-sentence{
        padding-top: 170px; padding-left: 380px;
        font-family: monospace, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Tahoma, Geneva, Verdana, sans-serif, 'Arial Narrow', Arial, sans-serif;
        color: rgba(128, 128, 128, 0.999);
        }
    .about-sentence-hide{
        display: none;
        }
    .education{
        color: white;  font-size: 37px;
        padding-left: 380px;
        padding-top: 50px;
        font-family: monospace, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Tahoma, Geneva, Verdana, sans-serif, 'Arial Narrow', Arial, sans-serif;
        }
    .clg{
        color: white; font-size: 18px;
        padding-left: 380px;
        padding-top: 20px;
        font-family: monospace, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Tahoma, Geneva, Verdana, sans-serif, 'Arial Narrow', Arial, sans-serif;
        }
            
    .clg-name{
        padding-left: 380px;
        font-family: monospace, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Tahoma, Geneva, Verdana, sans-serif, 'Arial Narrow', Arial, sans-serif;
        color: rgba(128, 128, 128, 0.999);
        }
            
    .schl1{
        color: white; font-size: 18px;
        padding-left: 380px;
        padding-top: 20px;
        font-family: monospace, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Tahoma, Geneva, Verdana, sans-serif, 'Arial Narrow', Arial, sans-serif;
        }
            
    .schl1-name{
        padding-left: 380px;
        font-family: monospace, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Tahoma, Geneva, Verdana, sans-serif, 'Arial Narrow', Arial, sans-serif;
        color: rgba(128, 128, 128, 0.999);
        }     
    .schl2{
        color: white; font-size: 18px;
        padding-left: 380px;
        padding-top: 20px;
        font-family: monospace, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Tahoma, Geneva, Verdana, sans-serif, 'Arial Narrow', Arial, sans-serif;
        }
            
    .schl2-name{
        padding-left: 380px;
        font-family: monospace, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Tahoma, Geneva, Verdana, sans-serif, 'Arial Narrow', Arial, sans-serif;
        color: rgba(128, 128, 128, 0.999);
        }
/* 2) End of About page Content */


/* 2) About page content  media query */
@media (max-width: 600px) {
    .know-me{
        position: relative;
        font-size: 35px;
        padding-top: 100px;
        padding-left: 90px;
    }
    .about-sentence{
        display: none;
    }
    .about-sentence-hide{
        display: block;
        padding-top: 20px;
        padding-left: 90px;
        color: rgba(128, 128, 128, 0.999);
        font-family: monospace, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Tahoma, Geneva, Verdana, sans-serif, 'Arial Narrow', Arial, sans-serif;
   }
   .education{
        padding-left: 90px; padding-top: 50px;
        font-size: 35px;
   }
   .clg, .schl1, .schl2{
        padding-left: 90px; padding-top: 20px;
        font-size: 18px;
   }
   .clg-name,  .schl1-name, .schl2-name{
        padding-left: 90px;
   }
} 
/* 2) End of about page and its media query*/

 /* 3) Skills page Content */

/* Animation */
/* 1) scale function - tools icon*/
    .tools{
        color: white;
        padding-top: 70px; padding-left: 380px;
        position: absolute; z-index: -1;
        font-size: 42px;
        font-family: monospace, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Tahoma, Geneva, Verdana, sans-serif, 'Arial Narrow', Arial, sans-serif;
        opacity: 0;
        transform: translateX(-50px); /* start hidden & small */
        animation: tools 3s linear infinite;
    }
    @keyframes tools {
        0% {
        transform: translateX(-50px); 
        }
        50% {
        opacity: 1; transform: translateX(0px); 
        }
    }
    
/* Skills - 1) python */
    .python-grid,  .html-grid,  .css-grid, .javascript-grid, .jquery-grid,  .django-grid,  .sql-grid{
        display: grid;
        grid-template-columns: 100px 600px;
        margin-top: 150px;
        margin-left: 380px;
        width: 700px;
        height: 150px;
        background-color: rgba(211, 211, 211, 0.150);
        color:white;
        border-radius: 10px ;
      }
    .html-grid,  .css-grid, .javascript-grid, .jquery-grid,  .django-grid,  .sql-grid{
        margin-top: 25px;
      }
    .py-heading, .html-heading,  .css-heading,  .javascript-heading,  .jquery-heading,  .django-heading,  .sql-heading{
        color: yellow;
        font-family: monospace, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Tahoma, Geneva, Verdana, sans-serif, 'Arial Narrow', Arial, sans-serif;
        font-size: 25px;
      }
    .py-subheading, .html-subheading, .css-subheading, .javascript-subheading, .jquery-subheading, .django-subheading, .sql-subheading{
        color:bisque;
        font-family: monospace, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Tahoma, Geneva, Verdana, sans-serif, 'Arial Narrow', Arial, sans-serif;
        font-size: 18px;
      }
    .py-sentence,  .html-sentence,  .css-sentence,  .javascript-sentence,  .jquery-sentence,  .django-sentence,  .sql-sentence{
        font-family: monospace, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Tahoma, Geneva, Verdana, sans-serif, 'Arial Narrow', Arial, sans-serif;
        font-size: 12px;
        color: white;
      }
    .py-icon-grid,  .html-icon-grid,  .css-icon-grid,  .javascript-icon-grid,  .jquery-icon-grid,  .django-icon-grid,  .sql-icon-grid{
        padding: 30px;
        font-size: 30px;
        animation-name: ani;
        animation-duration: 3s;
        animation-iteration-count: infinite;
      }
      @keyframes ani{
        0%{
          font-size: 30px;
        }
        50%{
          font-size: 40px; color: red;
        }
        0%{
          font-size: 30px;
        }  
      }

/* 3) Skills page media query */
@media (max-width: 600px) {
    .tools{
      position: relative;
      font-size: 32px;
      padding-top: 100px; padding-left: 90px;
    }
    .python-grid,  .html-grid,  .css-grid,  .javascript-grid,  .jquery-grid,  .django-grid, .sql-grid{
      display: grid; grid-template-columns: 50px 400px;
      margin-top: 35px; margin-left: 90px;
      width: 460px; height: 120px;
    }
    .py-heading,  .html-heading,  .css-heading,  .javascript-heading,  .jquery-heading,   .django-heading,  .sql-heading{
      font-size: 18px;
    }
    .py-subheading, .html-subheading, .css-subheading, .javascript-subheading, .jquery-subheading, .django-subheading, .sql-subheading{
      font-size: 16px;
    }
    .py-sentence,  .html-sentence,  .css-sentence,  .javascript-sentence,  .jquery-sentence,  .django-sentence,  .sql-sentence{
      font-size: 10px;
    }
    .py-icon-grid,  .html-icon-grid,  .css-icon-grid,  .javascript-icon-grid,  .jquery-icon-grid,  .django-icon-grid,  .sql-icon-grid{
      padding: 12px;
      font-size: 18px;
      animation-name: ani;
      animation-duration: 3s;
      animation-iteration-count: infinite;
    }
    @keyframes ani{
      0%{
        font-size: 18px;
      }
      50%{
        font-size: 28px; color: red;
      }
      0%{
        font-size: 18px;
      }
      
    }
}
/* End of skills page and its media query */

/* 4) Projects page Content */

/* Animation */
/* 1) scale function - proj-gallery icon*/
    .proj-gallery{
        color: white;
        position: absolute; z-index: -1;
        font-size: 42px;
        padding-top: 70px; padding-left: 380px;
        font-family: monospace, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Tahoma, Geneva, Verdana, sans-serif, 'Arial Narrow', Arial, sans-serif;
        opacity: 0;
        transform: translateX(-50px); /* start hidden & small */
        animation: proj-gallery 3s linear infinite;
    }
    @keyframes proj-gallery {
        0% {
        transform: translateX(-50px); 
        }
        50% {
        opacity: 1; transform: translateX(0px); 
        }
    }
/* projects-page-content grid */

    .projects-grid{
        display: grid;  grid-template-columns: auto auto; grid-template-rows: auto auto;
        margin-left: 380px; margin-top: 150px;
        width: 700px;
        row-gap: 13px; column-gap: 13px;
    }
    .projects-grid > div{
        background-color: rgba(211, 211, 211, 0.150);
        border: 2px solid white; border-radius: 10px;
        height: 350px; width: 335px;
    }
    .projects-grid > div img{
        width: 100%; height: 200px;
        border-radius: 10px;
    }
     /* Project 1 */
    .proj2,  .proj3,  .proj4, .proj5, .proj6, .proj7, .proj8{
        position: relative;
        height: 350px; width: 335px;
    }
    .proj1-heading,   .proj2-heading,   .proj3-heading,   .proj4-heading, .proj5-heading, .proj6-heading, .proj7-heading, .proj8-heading{
        font-family: monospace, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Tahoma, Geneva, Verdana, sans-serif, 'Arial Narrow', Arial, sans-serif;
        color: yellow;
        text-align: center;
        font-size: 18px;
    }
    .proj1-desc, .proj2-desc, .proj3-desc, .proj4-desc, .proj5-desc, .proj6-desc, .proj7-desc, .proj8-desc{
        font-family: monospace, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Tahoma, Geneva, Verdana, sans-serif, 'Arial Narrow', Arial, sans-serif;
        color: white;
        text-align: center;
        font-size: 15px;
    }
    .proj3-desc, .proj4-desc, .proj5-desc, .proj6-desc,  .proj8-desc {
        font-size: 13px;
    }
  

    .proj1:hover,   .proj2:hover,   .proj3:hover,   .proj4:hover, .proj5:hover, .proj6:hover, .proj7:hover,  .proj8:hover{
        height: 365px; width: 350px;
        transition: 2s;
        box-shadow: 10px 10px 20px white /* Shadow added */
        
    }
    .proj1-hover,  .proj2-hover,  .proj3-hover,  .proj4-hover,  .proj5-hover, .proj6-hover, .proj7-hover, .proj8-hover{
        display: none;
        font-family: monospace, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Tahoma, Geneva, Verdana, sans-serif, 'Arial Narrow', Arial, sans-serif;
        text-align: center;
        padding-top: 100px;
        padding-bottom: 80px;
        font-size: 22px;
        background-color: cadetblue;
    }
    .proj1 a, .proj2 a, .proj3 a, .proj4 a, .proj5 a, .proj6 a,  .proj7 a, .proj8 a{
        color: white; text-decoration: none;
    }
    .proj1 span,  .proj2 span,  .proj3 span,  .proj4 span,  .proj5 span, .proj6 span,  .proj7 span,  .proj8 span{
        font-size: 30px;
        color: black;
        animation: proj-arrow 1s linear infinite;
        opacity: 0;
    }
    @keyframes proj-arrow {
        0%{
        transform: translate(50px); font-size: 33px;
        }
        50%{
        transform: translate(0px); opacity: 1;
        }
    }
    .decs-hide{
        display: none;
    }
/* 4) End of Projects page Content */ 

/* 4) Projects media query */
  
@media (max-width: 600px){
    .proj-gallery{
      position: relative;
      z-index: -1;
      font-size: 35px;
      padding-top: 70px;
      padding-left: 90px;
      opacity: 0;
      transform: translateX(-50px); /* start hidden & small */
      animation: proj-gallery 3s linear infinite;
    }
  
    @keyframes proj-gallery {
      0% {
        transform: translateX(-50px); 
      }
  
      50% {
        opacity: 1;
        transform: translateX(0px); 
      }
  
    }
    .decs-hide{
        display: block;
        font-size: 17px;
      }
    .projects-grid{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto ;
        margin-left: 135px;
        margin-top: 80px;
        width: 400px;
        row-gap: 13px;
        column-gap: 13px;
      }
    .projects-grid > div{
        background-color: rgba(211, 211, 211, 0.150);
        border: 2px solid white;
        border-radius: 10px;
        height: 350px;
        width: 335px;
      }
    .projects-grid > div img{
        width: 100%;
        height: 200px;
        border-radius: 10px;
      }
  }
/* 4) End of Projects page Content  and its media query */

/* 5) Contact page content */

/* Animation */
/* 1) scale function - proj-gallery icon*/
    .connect{
        color: white;
        position: absolute;
        z-index: -1;
        font-size: 42px;
        font-family: monospace, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Tahoma, Geneva, Verdana, sans-serif, 'Arial Narrow', Arial, sans-serif;
        padding-top: 70px;
        padding-left: 380px;
        opacity: 0;
        transform: translateX(-50px); /* start hidden & small */
        animation: connect 3s linear infinite;
    }
    @keyframes connect {
        0% {
        transform: translateX(-50px); 
        }
        50% {
        opacity: 1; transform: translateX(0px); 
        }
    }
    .contact-flex{
        display: flex;
        padding-top: 140px;
        margin-left: 380px;
        font-family: monospace, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Tahoma, Geneva, Verdana, sans-serif, 'Arial Narrow', Arial, sans-serif;
        font-size: 20px;
      }
    form ::placeholder{
        color: whitesmoke;
        font-family: monospace, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Tahoma, Geneva, Verdana, sans-serif, 'Arial Narrow', Arial, sans-serif;
      }
    .msg-me,   #drop{
        color: yellow;
      } 
    #name, #email,  #msg{
        height: 35px; width: 220px;
        border-radius: 10px;
        background-color:rgba(211, 211, 211, 0.150) ;
        color: white;
      }
    #msg{
        height: 100px; width: 458px;
      }
      
    #submit{
        height: 50px; width: 467px;
        border-radius: 10px;
        background-color:  rgb(222, 222, 2);
        color: black;
        font-size: 20px;
        font-family: monospace, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Tahoma, Geneva, Verdana, sans-serif, 'Arial Narrow', Arial, sans-serif;
      }
      #submit:hover{
        background-color: red;
        color: white;
      }
      .con{
        padding-left: 70px;
        color: yellow;
      }
      .mail,   .phn{
        padding-left: 70px;
      }
      .mail a,  .phn a{
        text-decoration: none;
        color: white;
        font-size: 18px;
      }
     .mail:hover,.mail a:hover, .phn:hover, .phn a:hover{
        color: red;
        font-size: 25px;
      }
      
      .pp{
        padding-top: 40px;
        padding-left: 70px;
        color: yellow;
      }
      /* Icons */
      .pp-icons > a{
          font-size: 35px;
          padding: 5px;
          color: white;
        }
      #ln{
          margin-left: 70px;
        }
      #ln:hover{
        color: rgb(59, 59, 242);
        font-size: 45px;
      }
      #gh:hover{
        color: gray;
        font-size: 45px;
      }
      /* Animations */
      
      /* 1) icons */
      .pp-icons a {
          position: relative;
          animation: bounce 3s ease infinite alternate;
        }
        
        .pp-icons a:nth-child(1) {
          animation-delay: 0.1s;
        }
        
        .pp-icons a:nth-child(2) {
          animation-delay: 0.2s;
        }
        
        @keyframes bounce {
          0% {
            top: 0;
          }
          50% {
            top: 20px;
          }
          100% {
            top: 0;
          }
        }
/*5)  End of Contact page Content */

/* 5) Contact page Content  Media query */
  
 @media (max-width: 600px){
    .connect{
      position: relative;
      z-index: -1;
      font-size: 35px;
      padding-top: 100px;
      padding-left: 90px;
      opacity: 0;
      transform: translateX(-50px); /* start hidden & small */
      animation: connect 3s linear infinite;
    }
    
    @keyframes connect {
      0% {
        transform: translateX(-50px); 
      }
      50% {
        opacity: 1; transform: translateX(0px); 
      }
    }
    .contact-flex{
        display: flex;
        flex-direction: column;
        padding-top: 50px;
        margin-left: 90px;
        font-size: 20px;
      }
}